!!!
html
	head
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.min.js")
		script(type='text/coffeescript',src='unchained.coffee')
		script.
			if(location.search.substring(1))
				document.write('<script src="examples/' + location.search.substring(1) + '.coffee" type="text/coffeescript"></scr' + 'ipt>');
	body
		svg(width="1600",height="800",viewBox="-200 -200 1800 1000")
		- console.log(root.require)
		!=require('fs').readFileSync('./README.md', 'utf8')
