!!!
html
  head
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Stardos+Stencil:700|Iceland|Plaster|Frijole")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.6.3/coffee-script.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.2.2/d3.min.js")
    script(type='text/coffeescript',src='unchained.coffee')
    script.
      if(location.search.substring(1))
        document.write('<script src="examples/' + location.search.substring(1) + '.coffee" type="text/coffeescript"></scr' + 'ipt>');
    style.
      body{
        background-color: #b92825;
        padding: 1em;
        font-family: 'Plaster', cursive;
      }
      img{
        display: block;
        margin: 0 auto;
      }
      h1{
        display: none;
      }
      h2{
        font-size: 5em;
        color: #ffe7b9;
        line-height: 1.5;
        margin-top: 1em;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
        text-align: center;
        transform: scale(1.5, 1);
        transform-origin: 50% 0;
      }
      h3{
        font-size: 3em;
        color: #ffe7b9;
        line-height: 1;
        font-family: 'Stardos Stencil', cursive;
        text-transform: uppercase;
      }
      a{
        color: #ca952f;
      }
      pre{
        border: none;
        border-left: solid 10px #ca952f;
        background-color: transparent;
        margin-left: 50px;
      }
      code{
        font-size: 1.2em;
        font-family: 'Iceland', cursive;
        border: none;
        background-color: transparent;
        color: #ca952f;
      }
      pre>code{
        color: #ca952f;
      }
      svg{
        max-width: 100%;
      }
    script(src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js")
  body
    .container !{content}
      h2#examples Examples
      ul
        li
          a(href='?jquery-apend#examples') jquery-apend
          |  
          a(href='https://github.com/layerssss/unchained.coffee/blob/master/examples/jquery-apend.coffee') [source]
        li
          a(href='?d3-joins#examples') d3-joins
          |  
          a(href='https://github.com/layerssss/unchained.coffee/blob/master/examples/d3-joins.coffee') [source]
        li
          a(href='?d3-nested-joins#examples') d3-nested-joins
          |  
          a(href='https://github.com/layerssss/unchained.coffee/blob/master/examples/d3-nested-joins.coffee') [source]
      svg(width="1600",height="800",viewBox="-200 -200 1800 1000")
